<div class="container">
  <h1>Editing restaurant</h1>

  <%= render "form", restaurant: @restaurant %>

  <br>

  <div>
    <%= link_to "Show this restaurant", @restaurant %> |
    <%= link_to "Back to restaurants", restaurants_path %>
    <%= link_to "Back to restaurant #{@restaurant.name}",   restaurant_path(@restaurant) %>
  </div>


</div>
